<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/scripts/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/scripts/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/styles/common.css"/>
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/styles/demo.css">
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/styles/user.css">
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui/jquery.easyui.mobile.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/common/common.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/TestSpringMvc/scripts/kyjf.js"></script>
</head>
<body>
	<table id="tab" style="height: auto"></table>
	<div id="tb">
		<div class="btns" id="btn1">
		<a href="#" id="sear" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">查询</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="doedit()">修改</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="doadd()">新增</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="doClear()">重置</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="doDelete()">删除</a>
		</div>
		<div id="term" class="terms" >
			<div>项目名称<input class="easyui-textbox" id="xmmc" style="width: 155px;height: 25px;"></div>
			<div>申请人<input class="easyui-textbox" id="cjr" style="width: 155px;height: 25px;"></div>
			<div>开始时间<input id="starDate" name = "starDate"  class="easyui-datetimebox" data-options="editable:false" style="width: 155px" /></div>
			<div>结束时间<input id="endDate" name = "endDate"  class="easyui-datetimebox" data-options="editable:false" style="width: 155px" /></div>

		</div>
	</div>
	<div id="wid" class="easyui-dialog" closed="true" data-options="buttons:'#kyxm_eidt_btns'" modal="true" title="项目编辑" style="height:100%;width:100%;">
		<form class="form" id="kyxm_edit_form" style="text-align: center">
			<div style="width: 98%">
				<span>项目名称：</span><input id="edit_xmlsh" name="xmlsh" class="easyui-combobox" disabled style="width: 240px" >

			</div>
            <div style="width: 98%">
                <span>经费额度  ：</span><input id="edit_xmmc" name="xmmc" class="easyui-textbox"  style="width: 240px" >

            </div>
            <div style="width: 98%"><span>费用类型：</span><input id="edit_xmxz" name = "xmxz" class="easyui-textbox"  style="width: 240px">

            </div>
            <div style="width: 98%">
                <span>费用用途  ：</span><input id="edit_xkfl" name="xkfl" class="easyui-textbox"  style="width: 240px;height: 100px">
            </div>

		</form>
	</div>
	<div id="kyxm_eidt_btns" style="text-align: center">
		<a href="#" class="easyui-linkbutton" style="width: 100px"  onclick="editsave()">保存</a>
		<a href="#" class="easyui-linkbutton" style="width: 100px" onclick="doback()">返回</a>
	</div>
	<div id="wid1" class="easyui-dialog"
		 style="width:100%; height:100%" closed="true" data-options="buttons:'#kyxm_add_btns'" modal="true" title="经费申请" >
		<form class="form" id="kyjf_add_form" style="text-align: center" >
			<div style="width: 98%">
				<span>项目名称：</span><input id="add_xmmc" name="xmmc" class="easyui-combobox"  style="width: 240px" >

			</div>
			<div style="width: 98%">
				<span>经费额度  ：</span><input type="text" id="add_jfhj" name="jfhj" style="width: 240px" class="easyui-numberbox" value="100" data-options="min:0,precision:2,suffix:'万元'">
			</div>
			<div style="width: 98%"><span>费用类型：</span><input id="add_fyzl" name = "fyzl" class="easyui-textbox"  style="width: 240px">

			</div>
			<div style="width: 98%">
				<span>费用用途  ：</span><input id="add_fyyt" name="fyyt" class="easyui-textbox" data-options="multiline:true"  style="width: 240px;height: 100px">
			</div>

		</form>
	</div>
	<div style="text-align: center" id="kyxm_add_btns">
		<a href="#" class="easyui-linkbutton" style="width: 100px"  onclick="addSave()">保存</a>
		<a href="#" class="easyui-linkbutton" style="width: 100px"   onclick="doback()">返回</a>
	</div>

 	<div id = "bz_dialog" class="easyui-dialog" closed="true" data-options="buttons:'#bb'"  title="终结原因" modal="true" style="height: 300px;width: 500px">
		<input class="easyui-textbox" id="bz"  data-options="multiline:true,prompt:'请输入你的终止原因'"  style="width:100%;height:100%">
	</div>
	<div id="bb" style="text-align: center">
		<a href="#" class="easyui-linkbutton" style="width: 80px"  onclick="bzSave()">保存</a>
		<a href="#" class="easyui-linkbutton" style="width: 80px"   onclick="doback()">返回</a>
	</div>
</body>

</html>