<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/scripts/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/scripts/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/styles/common.css"/>
	<link rel="stylesheet" type="text/css" href="/TestSpringMvc/styles/demo.css">
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/easyui/jquery.easyui.mobile.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/common/common.js"></script>
	<script type="text/javascript" src="/TestSpringMvc/scripts/login.js"></script>
</head>
<body  style="text-align: center">
	<div >
		<div>
			<h1 >高  校  科  研  管  理  系  统</h1>
		</div>
		<div style="margin-top: 10%;border: #00bbee;solid-color: #00bbee;gap: 1px">
			<p><h1>登录</h1>
			<div style="margin-top: 10px">
				<p>账号:  <input type="text" class="easyui-textbox" id = "name"/>
			</div>
			<div style="margin-top: 10px">
				<p>密码:  <input type="password" class="easyui-textbox" id = "password">
			</div>
			<div style="margin-top: 20px">
				<p><input type="button" id="login" class="easyui-linkbutton" style="width: 60px" value="登录" onclick="login()"  >
					<input type="reset" class="easyui-linkbutton" value="重置" style="width: 60px" onclick="reset()">

			</div>
		</div>

	</div>
</body>
</html>