<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.KycgDao" >

  <sql id="Base_Column_List" >
    cglsh, cgmc,cgjb,cgfl,ckwz,wjlshs, cjr,cjsj,spr,shsj,shzt,shly
  </sql>

  <select id="selectXmsbByPrimaryKey" resultType="com.java.entity.KycgPo" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_kycg
    where cglsh = #{cglsh}
  </select>

  <select id="getKyjfList" resultType="com.java.entity.KycgPo">
    select <include refid="Base_Column_List"/>
    from t_kycg
    where 1=1
    <if test="cgmc != null and cgmc != ''">
      AND cgmc LIKE concat('%',#{cgmc},'%')
    </if>
    <if test="shzt != null and shzt != ''" >
      and shzt = #{shzt}
    </if>
    <if test="cjr != null and cjr != ''" >
      AND cjr LIKE concat('%',#{cjr},'%')
    </if>
    <if test="starDate != null and starDate != ''" >
      AND cjsj &gt;= #{starDate}
    </if>
    <if test="endDate != null and endDate != ''" >
      AND cjsj &lt;= #{endDate}
    </if>
    order by cjsj desc
    LIMIT #{page},#{rows}
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    select count(1)
    from t_kycg
    where 1=1
    <if test="cgmc != null and cgmc != ''">
      AND cgmc LIKE concat('%',#{cgmc},'%')
    </if>
    <if test="shzt != null and shzt != ''" >
      and shzt = #{shzt}
    </if>
    <if test="cjr != null and cjr != ''" >
      AND cjr LIKE concat('%',#{cjr},'%')
    </if>
    <if test="starDate != null and starDate != ''" >
      AND cjsj &gt;= #{starDate}
    </if>
    <if test="endDate != null and endDate != ''" >
      AND cjsj &lt;= #{endDate}
    </if>
    order by cjsj desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_kycg
    where cglsh = #{cglsh}
  </delete>
  <insert id="insertKyjf" parameterType="com.java.entity.KycgPo" >
    insert into t_kycg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cglsh != null and cglsh != ''" >
        cglsh,
      </if>
      <if test="cgmc != null and cgmc != ''" >
        cgmc,
      </if>
      <if test="cgjb != null and cgjb != ''" >
        cgjb,
      </if>
      <if test="cgfl != null and cgfl != ''" >
        cgfl,
      </if>
      <if test="ckwz != null and ckwz != ''" >
        ckwz,
      </if>
      <if test="wjlshs != null and wjlshs != ''" >
        wjlshs,
      </if>
      <if test="cjr != null and cjr != ''" >
        cjr,
      </if>
      <if test="cjsj != null and cjsj != ''" >
        cjsj,
      </if>
      <if test="shzt != null and shzt != ''" >
        shzt,
      </if>
      <if test="spr != null and spr != ''" >
        spr,
      </if>
      <if test="shsj != null and shsj != ''">
        shsj,
      </if>
      <if test="shly != null and shly != ''" >
        shly,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cglsh != null and cglsh != ''" >
        #{cglsh},
      </if>
      <if test="cgmc != null and cgmc != ''" >
        #{cgmc},
      </if>
      <if test="cgjb != null and cgjb != ''" >
        #{cgjb},
      </if>
      <if test="cgfl != null and cgfl != ''" >
        #{cgfl},
      </if>
      <if test="ckwz != null and ckwz != ''" >
        #{ckwz},
      </if>
      <if test="wjlshs != null and wjlshs != ''" >
        #{wjlshs},
      </if>
      <if test="cjr != null and cjr != ''" >
        #{cjr},
      </if>
      <if test="cjsj != null and cjsj != ''" >
        #{cjsj},
      </if>
      <if test="shzt != null and shzt != ''" >
        #{shzt},
      </if>
      <if test="spr != null and spr != ''" >
        #{spr},
      </if>
      <if test="shsj != null and shsj != ''">
        #{shsj},
      </if>
      <if test="shly != null and shly != ''" >
        #{shly},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.entity.KyjfPo" >
    update t_kycg
    <set >
      <if test="cgmc != null and cgmc != ''" >
        cgmc =#{cgmc},
      </if>
      <if test="cgjb != null and cgjb != ''" >
        cgjb =#{cgjb},
      </if>
      <if test="cgfl != null and cgfl != ''" >
        cgfl =#{cgfl},
      </if>
      <if test="ckwz != null and ckwz != ''" >
        ckwz=#{ckwz},
      </if>
      <if test="wjlshs != null and wjlshs != ''" >
        wjlshs=#{wjlshs},
      </if>
      <if test="cjr != null and cjr != ''" >
        cjr=#{cjr},
      </if>
      <if test="cjsj != null and cjsj != ''" >
        cjsj=#{cjsj},
      </if>
      <if test="shzt != null and shzt != ''" >
        shzt=#{shzt},
      </if>
      <if test="spr != null and spr != ''" >
        spr=#{spr},
      </if>
      <if test="shsj != null and shsj != ''">
        shsj=#{shsj},
      </if>
      <if test="shly != null and shly != ''" >
        shly=#{shly},
      </if>
    </set>
    where cglsh = #{cglsh}
  </update>

</mapper>