<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.XmsbDao" >

  <sql id="Base_Column_List" >
    xmlsh, xmmc,xmxz,fzr,xkfl,kssj, jhwcsj, xmcyry,cjsj,xmzt,bz
  </sql>

  <select id="selectXmsbByPrimaryKey" resultType="com.java.entity.kyxm.XmsbPo" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_kyxm
    where xmlsh = #{xmlsh}
  </select>

  <select id="getKyxmList" resultType="com.java.entity.kyxm.XmsbPo">
    select <include refid="Base_Column_List"/>
    from t_kyxm
    where 1=1
    <if test="xmmc != null and xmmc != ''">
      AND xmmc LIKE concat('%',#{xmmc},'%')
    </if>
    <if test="xmxz != null and xmxz != ''" >
      AND xmxz = #{xmxz}
    </if>
    <if test="fzr != null and fzr != ''">
      AND fzr LIKE concat('%',#{fzr},'%')
    </if>
    <if test="xkfl != null and xkfl != ''" >
      AND xkfl = #{xkfl}
    </if>
    <if test="xmzt != null and xmzt != ''" >
      AND xmzt = #{xmzt}
    </if>
    <if test="starDate != null and starDate != ''" >
      AND cjsj &gt;= #{starDate}
    </if>
    <if test="endDate != null and endDate != ''" >
      AND cjsj &lt;= #{endDate}
    </if>
    <if test="xmcyry != null and xmcyry != ''">
      AND xmcyry LIKE concat('%',#{xmcyry},'%')
    </if>
    LIMIT #{page},#{rows}
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    select count(1)
    from t_kyxm
    where 1=1
    <if test="xmmc != null and xmmc != ''">
      AND xmmc LIKE concat('%',#{xmmc},'%')
    </if>
    <if test="xmxz != null and xmxz != ''" >
      AND xmxz = #{xmxz}
    </if>
    <if test="fzr != null and fzr != ''">
      AND fzr LIKE concat('%',#{fzr},'%')
    </if>
    <if test="xkfl != null and xkfl != ''" >
      AND xkfl = #{xkfl}
    </if>
    <if test="xmzt != null and xmzt != ''" >
      AND xmzt = #{xmzt}
    </if>
    <if test="starDate != null and starDate != ''" >
      AND cjsj &gt;= #{starDate}
    </if>
    <if test="endDate != null and endDate != ''" >
      AND cjsj &lt;= #{endDate}
    </if>
    <if test="xmcyry != null and xmcyry != ''">
      AND xmcyry LIKE concat('%',#{xmcyry},'%')
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_kyxm
    where xmlsh = #{xmlsh}
  </delete>
  <insert id="insertSelective" parameterType="com.java.entity.kyxm.XmsbPo" >
    insert into t_kyxm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xmlsh != null" >
        xmlsh,
      </if>
      <if test="xmmc != null" >
        xmmc,
      </if>
      <if test="xmxz != null" >
        xmxz,
      </if>
      <if test="fzr != null" >
        fzr,
      </if>
      <if test="xkfl != null" >
        xkfl,
      </if>
      <if test="kssj != null" >
        kssj,
      </if>
      <if test="jhwcsj != null" >
        jhwcsj,
      </if>
      <if test="xmcyry != null" >
        xmcyry,
      </if>
      <if test="cjsj != null" >
        cjsj,
      </if>
      <if test="xmzt != null" >
        xmzt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xmlsh != null" >
        #{xmlsh},
      </if>
      <if test="xmmc != null" >
        #{xmmc},
      </if>
      <if test="xmxz != null" >
        #{xmxz},
      </if>
      <if test="fzr != null" >
        #{fzr},
      </if>
      <if test="xkfl != null" >
        #{xkfl},
      </if>
      <if test="kssj != null" >
        #{kssj},
      </if>
      <if test="jhwcsj != null" >
        #{jhwcsj},
      </if>
      <if test="xmcyry != null" >
        #{xmcyry},
      </if>
      <if test="cjsj != null" >
        #{cjsj},
      </if>
      <if test="xmzt != null" >
        #{xmzt},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.entity.kyxm.XmsbPo" >
    update t_kyxm
    <set >
      <if test="xmmc != null" >
        xmmc = #{xmmc},
      </if>
      <if test="xmxz != null" >
        xmxz = #{xmxz},
      </if>
      <if test="fzr != null" >
        fzr = #{fzr},
      </if>
      <if test="xkfl != null" >
        xkfl = #{xkfl},
      </if>
      <if test="kssj != null" >
        kssj = #{kssj},
      </if>
      <if test="jhwcsj != null" >
        jhwcsj = #{jhwcsj},
      </if>
      <if test="xmcyry != null" >
        xmcyry = #{xmcyry},
      </if>
    </set>
    where xmlsh = #{xmlsh}
  </update>

</mapper>